body {
    min-width: 320px;
}

/*===========================.section-gallery===============*/

.section-gallery .nav-item{
    border-bottom: 2px solid #41444D;
    padding: 20px 0;
}

.section-gallery .nav-item .active {
    border-bottom: 5px solid #AE3F3D;
}


/*===========================header===============*/

.section-header-photo {
    background: url(../img/desktop_photo/photo.png) center no-repeat;
    background-size: 100%;
    height: auto;
    min-height: 400px;
    position: relative;

}

.section-header-photo .form {
    
}