@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    min-width: 320px;
    color: #000000;
}

/*.container {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

header,
footer {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    margin: 0;
    padding: 0;
}


/*===========================header===============*/

.background-color {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 180px;
    
}

.main-header {
    background: url(../img/desktop_photo/photo.png)  top center no-repeat;
    background-size: cover;
    min-height: 180px;
    position: relative;
    z-index: -5;
    opacity: 1;
    
}

.main-header .navbar-toggler{
    color: #fff;
}

.main-header .nav-link {
    color: #fff;
    font-weight: 600;
}
.main-header .active::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;

}

.main-header h2 {
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 27px;
}

/*===========================.section-biography===============*/

 main  {
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
    width: 295px;
    margin:auto;
}

.section-biography .container {
    background-color: #F4F0EC;
}

.section-biography span {
    font-weight: 600;
}

.section-biography h3 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -15px;
    
}

.section-biography p {
    font-size: 14px;
    font-weight: 600;
}

.section-biography p, h3 {
    padding: 20px;
    letter-spacing: -0.035em;
}

.section-biography .col-12 .row {
    margin: 0;
}

/*===========================.section-gallery===============*/

.section-gallery .nav-link {
    border-bottom: 2px solid #41444D;
    padding: 20px 0;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
     
}

.section-gallery .nav-link.active {
    border-bottom: 5px solid #AE3F3D;
    color: #AE3F3D;
    font-weight: bold;
}

.section-gallery h3 {
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
    padding: 0;
}

.section-gallery .nav {
    border: none;
}

.section-gallery .col {
    padding-left: 0;
    padding-right: 0;
}

.section-gallery img {
    width: 260px;
}

.section-gallery .btn {
    display: block;
    margin: 20px auto;
    font-size: 14px;
    text-transform: uppercase;
    background: #41444D;
    width: 118px;
    height: 37px;
    border-radius: 55px;
    color: #fff;
}
.section-gallery a {
    color: #fff;
}

hr {
    width: 296px;
    height: 3px;
    background: rgba(65, 68, 77, 0.5);
}

/*===========================footer===============*/

footer ul li {
    list-style-type: none;
}









@media only screen and (min-width: 768px) {
    .main-header,
    .background-color {
        min-height: 372px;
    }
    .main-header h2 {
        font-size: 48px;
        margin-top: 35px;
    }
    main {
        top: 53%;
        width: 605px;
    }
    .section-biography {
        width: 526px;
        margin: auto;
        padding-top: 36px;
    }
    .section-biography h3 {
        font-size: 24px;
        padding-top: 35px;
        padding-right: 0;
        
    }
    .section-biography p {
        padding-top: 35px;
        padding-left: 0;
    }
    .container-main {
        background-color: #fff;
    }
    .section-gallery .row {
        width: 526px;
    }
    .section-gallery .tab-content {
        width: 526px;
        margin-left: 11px;
    }
    hr {
        width: 379px;
    }
    

}
@media only screen and (max-width: 1199px) {
    .read-desktop {
        display: none;
    }
}


@media only screen and (min-width: 1200px) {
    .main-header,
    .background-color {
        min-height: 922px;
    }
    .main-header h2 {
        font-size: 150px;
        font-weight: normal;
        margin-top: 75px;

    }
    .section-biography h3{
        font-size: 36px;
    }
    main {
        width: 1184px;

    }
    .section-biography {
        width: 888px;
    }
    .read-desktop {
        display: inherit;
    }

/*=======.section-gallery======*/
    .section-gallery {
        width: 888px;
        margin: 0 auto;
    }
    .section-gallery .row {
        width: 888px;
    }

    .section-gallery img {
        width: 291px;
    }
    .section-gallery .tab-content {
        width: 888px;
        margin-left: -25px;
    }
    
}
